<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <p><label for="name">Team Name: </label><%= @name %></p>  
 <p><label for="coach">Coach: </label><%= @coach %></p>
 <p><label for="point_guard">Point Guard: </label><%= @point_guard %></p>
 <p><label for="shooting_guard">Shooting Guard: </label><%= @shooting_guard %></p>
 <p><label for="small_forward">Small Forward: </label><%= @small_forward %></p>
 <p><label for="power_forward">Power Forward: </label><%= @power_forward %></p>
 <p><label for="center">Center: </label><%= @center %></p> 


 </body>
</html>


