<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @params_hash[:name] %></h1>
    <h2>Coach: <%= @params_hash[:coach] %></h2>
    <h2>Point Guard: <%= @params_hash[:pg] %></h2>
    <h2>Shooting Guard: <%= @params_hash[:sg] %></h2>
    <h2>Small Forward: <%= @params_hash[:sf] %></h2>
    <h2>Power Forward: <%= @params_hash[:pf] %></h2>
    <h2>Center: <%= @params_hash[:c] %></h2>
 </body>
</html>


